body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
  font-size: 25px;

}

.container {
  border: 2px solid #555;
  padding: 8px;
  min-height: 100vh;
/*Display can be grid or grid inline
The fr means free space
*/
  display: grid;
  grid-template-columns: [sidebar-start] 1fr [sidebar-end content-start] 3fr [content-end];
  grid-template-rows: [header-start] 1fr [header-end mid-start] 4fr [mid-end] 1fr [footer-start];
  row-gap: 16px;
  column-gap: 4px;
}
header {
  grid-column-start: sidebar-start;
  grid-column-end: span content-end;
  border: 2px solid #dd0808;
  background-color: #ff6666;
}

aside {
  border: 2px solid #0ba7c6; /* Dark cyan */
  background-color: #74ddf2; /* Light cyan */
}
main {
  border: 2px solid #6f09e5; /* Dark purple */
  background-color: #b880f7; /* Light purple */
}
footer {
  grid-column-end: span 2;
  border: 2px solid #c4be0d; /* Dark yellow */
  background-color: #f7f380; /* Light yellow */
 }